*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

html, body{
    width: 100%;
}

body{
    color: white;
    padding: 10px;
    background-color: #f28d3f;
}

nav,
main{
    background-color: white;
}

nav{
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    border-bottom: 2px solid #d8c9be;
    border-radius: 20px 20px 0px 0px;
}

nav .nav-links{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin-left: 30px;
}

nav .nav-icons i
{
    cursor: pointer;
}

.nav-links h2{
    font-size: 30px;
    font-weight: 700;
}

h2 span{
    color: orange;
    font-size: 30px;
}

.nav-links a{
    text-decoration: none;
    color: #4f4842;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

nav .nav-icons {
    display: flex;
    align-items: center;
    padding: 15px;
    margin-right: 30px;
}

.nav-icons i{
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
}

main{
    color: black;
    width: 100%;
    padding: 40px 70px;
    border-radius: 0px 0px 20px 20px;
}

main .top-page{
    display: flex;
}

main .top-page .right-text{
    width: 28%;
}

.top-page .right-text .jacket-heading h5{
    color: #d46b37;
    font-size: 30px;
}

.jacket-heading h1{
    font-size: 60px;
    font-weight: 700;
}

.jacket-heading h1 span{
    color: #d46b37;
    font-weight: 800;
}

.jacket-heading h4{
    width: 70%;
    padding: 15px 0px 25px 0px;
    font-size: 30px;
    font-weight: 600;
    border-bottom: 2px solid #d8c9be;

}

main .jacket-deatil{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.jacket-deatil .description{
    font-size: 20px;
    font-weight: 600;
}

.jacket-deatil .desc-text{
    font-size: 16px;
    width: 80%;
    opacity: 0.5;
    line-height: 24px;
}

.read-more{
    font-size: 20px;
    font-weight: 500;
    background-color: transparent;
    color: black;
    border: none;
    padding-bottom: 20px;
    cursor: pointer;
}

.read-more i{
    font-size: 30px;
    color: #d46b37;
}
.jacket-deatil .btn{
    border-top: 2px solid #d8c9be;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
}

.btn button{
    display: flex;
    justify-self: flex-start;
    font-size: 18px;
    background-color: transparent;
    border: none;
    color: black;
    font-weight: 600;
    cursor: pointer;
}

#top-btn{
    padding-bottom: 15px;
    border-bottom: 2px solid #d8c9be;
}

.btn button span .arr-down{
    font-size: 30px;
    margin-left: 45px;
    padding-left: 25px;
}

.btn button i{
    font-size: 30px;
    margin-left: 15px;
    padding-left: 25px;
}

main .center-product{
    width: 70%;
}

.center-product img{
    width: 100%;
}

.center-product .quality{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}
.quality .low{
    display: flex;
    align-items: center;
    gap: 15px;
}

.low .icon-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-div i{
    font-size: 40px;
    color: #8c8680;
}

.quality .low img{
    width: 40px;
}

.quality .low .text h5{
    color: #8c8680;
    font-weight: 600;
}

main .size{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.size .size-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid #d8c9be;
}

.size .size-section h4,
.color-section h4{
    font-size: 30px;
    padding-bottom: 20px;
}

.size .size-section .btn{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
    color: black;
    padding-bottom: 10px;
}

.size-section .btn button {
   background-color: #f5ece4;
   font-size: 20px;
    padding: 10px 16px;
    border-radius: 10px;
    cursor: pointer;
}

.size-section .btn button#medium{
    background-color: #d46b37;
    color: white;
}

.size .size-section p{
display: flex;
align-items: center;
justify-content: center;
padding-bottom: 10px;

}

.size-section p{
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.size-section p span{
  font-size: 20px;
  padding-left: 10px;
  color: #d46b37;
}

.size .color-section{
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.color-section .color-cart{
    width: 100%;
    display: flex;
    align-items: flex-start;
   justify-content: center;
   gap: 25px;
}

.color-cart .cart1,
.color-cart .cart2{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.cart1 p,
.cart2, p{
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 14px;
    opacity: 0.8;
}

.size .color-section .color-cart img{
    width: 150px;
    background-color: #f5ece4;
    padding: 10px;
    border-radius: 30px;
}

.size .add-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.add-card button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 30px;
    border: 2px solid #d8c9be;
    background-color: transparent;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.add-card #add-bag{
    padding: 15px 35px;
    font-size: 18px;
    background-color: #e85e02;
    color: white;
    border: none;
}

.add-card #add-bag span i{
    font-size: 25px;
}

.add-card #wishlist span i{
    padding-right: 5px;
    font-size: 30px;
}


.add-card #add-bag span i{
    padding-left: 5px;
    font-size: 30px;
}

.more-jacket-info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #f5ece4;
    padding: 20px;
    border: 2px solid #f0e7e9;
    margin-bottom: 1px;
    border-radius: 20px;
}

main .more-jacket-info .jacketImg img{
    width: 200px;
    padding: 0px;
    cursor: pointer;
}

.more-jacket-info .jacket-offer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.more-jacket-info .jacket-offer h3{
    width: 100%;
    font-size: 16px;
}

.more-jacket-info .jacket-offer .jacket-quality p{
    width: 100%;
    font-size: 13px;
    opacity: 0.6;
}

main .more-jacket-info-2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    background-color: #f5ece4;
    border: 2px solid #f0e7e9;
    padding: 20px 50px;
    border-radius: 20px;
}

.more-jacket-info-2 .jacketImg-2,img{
    width: 50px;
}

.more-jacket-info-2 .jacketImg-2,i{
    font-size: 50px;
}

.more-jacket-info-2 .jacketImg-2 i,.star-icon,
.more-jacket-info-2 .jacketImg-2 i,.desgin-icon{
    font-size: 50px;
    color: #d46b37;
}

.more-jacket-info-2 .jacket-offer-2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5px;
}

.more-jacket-info-2 .jacket-offer-2 h3{
    width: 100%;
    font-size: 15px;
    opacity: 0.8;
}

.more-jacket-info-2 .jacket-offer-2 .jacket-quality-2 p{
    width: 90%;
    font-size: 15px;
    opacity: 0.5;
}

